 * {
     box-sizing: border-box;
     padding-left: 3%;
     padding-right: 3%;
 }
 .wrapper {
     max-width: 960px;
     width: 100%;
     margin: auto;
     overflow: hidden;
 }
 
 header {
    display: flex;
    color : white;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 0px 6px 10px 0px rgba(71, 71, 71, 0.5);
    width: 100%;
    position: fixed;
    left: 0;
}
 header ul {
     display: flex;
 }
 header li {
     margin-left: 30px
 }
 header li:first-child{
     border-bottom: 2px solid red;
     padding-bottom: 8px;
 } 
 header a {
     color: white;
     text-decoration: none;
 }
 h1{
     font-size: 30px;
 }
 .usuario_2 {
     display: flex;
 }
 .usuario_2 p {
     display: flex;
     align-items: center;
     padding-left: 40px;
 }
 main {
     padding-top: 94px;
 }